@using musicReporting.Models.Interfaces
@using musicReporting.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h1>Edit User</h1>
<form asp-controller="User" asp-action="Edit" method="post">
<input type="hidden" asp-for="User.Id" />
<input type="hidden" asp-for="User.UserId" />

    <div class="form-group row">
        <label asp-for="Stores" class="col col-form-label"></label>
        <select asp-for="User.StoreId" asp-items="Model.Stores">
            <option value="">Select a store</option>
            
        </select>
    </div>

    <div class="form-group row">
        <label asp-for="Roles" class="col col-form-label"></label>
        <select asp-for="User.RoleId" asp-items="Model.Roles">
            <option value="">Select a role</option>
            
        </select>
    </div>

<label asp-for="User.UserName"></label>
<input class="form-control-sm" asp-for="User.UserName"/>

<label asp-for="User.FirstName"></label>
<input class="form-control-sm" asp-for="User.FirstName"/>

<label asp-for="User.LastName"></label>
<input class="form-control-sm" asp-for="User.LastName"/>

<label asp-for="User.Email"></label>
<input class="form-control-sm" asp-for="User.Email"  />

<button class="btn btn-outline-primary btn-sm" type="submit">Update</button> 
<a class="btn btn-outline-danger" asp-asp-controller="User" asp-action="ViewAll">Cancel</a>
</form>