@using musicReporting.Models.Interfaces
@using musicReporting.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "View All Users";
}

<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>

    <body>
        This is my brief page holder

    </body>
</html>