@using musicReporting.Models.Interfaces
@using musicReporting.ViewModels
@model RoleViewModel

@{
    ViewBag.Title = "Add Role";
}

<h1>Add Role</h1>
<form asp-controller="Role" asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Role.Code" class="col-sm-2 col-form-label"></label>
        <input class="form-control-sm" asp-for="Role.Code" />
    </div>

    <div class="form-group row">
        <label asp-for="Role.Description" class="col-sm-2 col-form-label"></label>
        <input class="form-control-sm" asp-for="Role.Description" />

    </div>

    <input type="hidden" asp-for="Role.Code" />
    <input type="hidden" asp-for="Role.Description" />


    <button class="btn btn-primary" type="submit">Add Role</button>
    <a class="btn btn-secondary" asp-controller="Role" asp-action="ViewAll">Cancel</a>
</form>
